* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

 .tableauhisto {
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
} 

.container {
text-align: left;
overflow: hidden;
width: 80%;
margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}


.container thead {
background-color: #7687a8;
}
.container td, .container th {
padding-bottom:2% ;
padding-top: 2%;
padding-left: 2%;
}



/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #7e99da;
}

.container th {
	  background-color: #7593d8;
}

.container td:first-child { color: #FB667A; }


.container tr:hover {
   background-color: #464A52;
box-shadow: 0 6px 6px -6px #0E1119;
}
